{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>ToDo List</h1>
        <h1>Login</h1>
    </div>
</div>


<form method="POST">
    {% csrf_token %}
    <div>
        <label for="id_username">Usuário:</label>
        <br>
        {{ form.username }}
    </div>
    <div>
        <label for="id_password">Senha:</label>
        <br>
        {{ form.password }}
    </div>
    <br>
    <input class="button" type="submit" value="Login">
</form>

<p>Não possui uma conta? <a href="{% url 'register' %}">Registre-se</a></p>

{% endblock content %}