<h1>ToDo List</h1>
<h1>Sign in</h1>

<hr>

<form method="POST">
    {% csrf_token %}
    <div>
        <label for="id_username">Usuário:</label>
        <br>
        {{ form.username }}
        <p>Obrigatório. 150 caracteres ou menos. Somente letras, dígitos e @/./+/-/_.</p>
    </div>
    <div>
        <label for="id_password1">Senha:</label>
        <br>
        {{ form.password1 }}
    </div>
    <div>
        <label for="id_password2">Confirme a senha:</label>
        <br>
        {{ form.password2 }}
        <p>
            Sua senha não pode ser muito semelhante ao seu usuário.<br>
            Sua senha deve conter pelo menos 8 caracteres.<br>
            Sua senha não pode ser uma senha comumente usada.<br>
            Sua senha não pode ser totalmente numérica.
        </p>
    </div>
    <br>
    <input type="submit" value="Sign in">
</form>


<p>Já possui uma conta? <a href="">Login</a></p>
