{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <a href="{% url 'tasks' %}">&#8592; Voltar</a>
        <h1>ToDo List</h1>
        <h3>Editor de Tarefas</h3>
    </div>
</div>

<hr>
<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <label for="id_título">Título:</label><br>
            {{ form.título }}
        </div>
        <div>
            <br><label for="id_descrição">Descrição:</label><br>
            {{ form.descrição }}
        </div>
        <div style="text-align: center;">
            <label for="id_completa" style="display: inline-block; width: 100px; text-align: right; margin-right: 1px;">Completa</label>
            {{ form.completa }}
        </div>
        <br><input class="button" type="submit" value="Criar"> 
    </form>
</div>

{% endblock content %}
