{% extends 'base/main.html' %}
{% block content %}


<div class="header-bar">
    <div>
        <h1 style="text-align: center; margin-top: 50px;">ToDo List</h1>
        <h1 style="text-align: center; margin-top: 50px;">Bem vindo, {{request.user}}!</h1>
        <h3>Você tem <i>{{count}}</i> tarefas incompletas.</h3>
    </div>
</div>

{% if request.user.is_authenticated %}
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

<hr>

<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Procurar...">
</form>
<a href="{% url 'task-create' %}">Adicionar Tarefa</a>

<table>
    <tr>
        <th>Sua lista</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.título}}</td>
        <td><a href="{% url 'task-update' task.id %}">Editar</a></td>
        <td><a href="{%url 'task-delete' task.id %}">Apagar</a></td>
    </tr>
    {% empty %}
    <h3>Lista de tarefas vazia</h3>
    {% endfor %}
</table>

{% endblock content %}

